Source: indicator-location
Section: misc
Priority: optional
Maintainer: Ted Gould <ted@ubuntu.com>
Build-Depends: debhelper (>= 8.0.0),
               dh-autoreconf,
               cdbs,
               intltool (>= 0.35.0), 
               libglib2.0-dev (>= 2.29.19),
               libappindicator3-dev,
               libgeoclue-dev
Standards-Version: 3.9.3
Homepage: http://launchpad.net/indicator-location/

Package: indicator-location
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Recommends: emerillon,
            geoclue-ubuntu-geoip
Description: Indicator to show the state of GeoClue
 An indicator that gives you data about your location
 and if the computer knows it.
